{% extends 'core/layout.html' %}

{% block main %}
<main class="spce-y-40 mb-40">
<div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
<div class="relative pt-36 ml-auto">
        <div class="lg:w-2/3 mx-auto">
            <ul class="list-disc">
            <h2 class="text-gray-900 dark:text-white font-bold text-2xl md:text-3xl xl:text-4xl">Please follow these instructions to complete your transaction and gain access to the stock screener</h1>
            <br><br>
            <li class="text-gray-900 dark:text-white text-2xl md:text-3xl xl:text-4xl">1. Send ₹{{price}} to this UPI ID:<br><span class="text-primary dark:text-white font-bold">tradewithv1@pnb</span></li>
            <li class="mt-8 text-gray-900 text-2xl dark:text-white md:text-3xl xl:text-4xl">2. Send the screenshot of the payment and your email id you used to register on this website to <span class="font-bold">@trade.withv</span> on instagram.<br><br> We'll respond as quickly as possible</li>
            </ul>
        </div>
    </div>
</div>
</main>
{% endblock %}